

<!DOCTYPE html>
<html>
    <head>
        <!--<meta charset="UTF-8">-->
        <title>Virtual Role Call</title>
        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

        <!--CryptoJS-->
        <script src="js/vendor/encryptor.js"></script>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!--My CSS-->
        <link type="text/css" rel="stylesheet" href="css/main.css"/>
    </head>

    <body ng-app="VRC_Login">

        <div class="col-md-3 col-lg-3 " align="left"> 
            <img src="img/logo.png" 
                 class="img-circle img-responsive"> 
        </div>

        <div class="header">
            <div>Virtual<span>Roll Call</span></div>
        </div>

        <div class="login" ng-controller ="LoginController" >
            <input type="text" placeholder="username" ng-model="username"> <br>
            <input type="password" placeholder="password" ng-model="password"><br>
            <input name="Login" value ="Log in" type="submit" ng-click="loginRequest()">
            <p style="color:red"> {{message}}</p>
        </div>

        <!-- Modules -->
        <script src="js/app.js"></script>

        <!-- Controllers -->
        <script src="js/controllers/LoginController.js"></script>

        <!-- Services -->
        <script src = "js/services/DataRequest.js"></script>
    </body>

</html>
