

<div ng-init="retrieveTasks()"> <!-- Being retrieving tasks and monitor idle user-->
    <section>
        <h1 class="customText">Categories</h1>
        <div class="row">
            <article class="4u" ng-repeat="t in tasks">
                <h5 class="customText">{{t.taskName}}</h5>
                <a class="image fit thumb" ng-click="retrieveDocs(t.taskName, 'C')">
                    <img src="../img/taskBackground.jpg" alt="" />
                </a>
            </article>
        </div>
    </section>
</div>