

<div ng-init="retrieveCategories()"> <!-- Being retrieving tasks and monitor idle user-->
    <section>
        <h1 class="customText">Categories</h1>
        <div class="row">
            <article class="4u" ng-repeat="c in categories">
                <h5 class="customText">{{c.categoryName}}</h5>
                <a class="image fit thumb" ng-click="retrieveDocs(c.categoryName, 'C')">
                    <img src="../img/taskBackground.jpg" alt="" />
                </a>
            </article>
        </div>
    </section>
</div>