<!DOCTYPE html>

<html>
    <head>
        <title>User Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-5  toppad  pull-right col-md-offset-3 ">

                    <br>
                    <h5 class=" text-info" style="color:greenyellow">Registration: {{regDate}} </h5>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 
                     col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

                    <br>
                    <div class="panel panel-info" ng-init="getUserInfo()">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{lName}},  {{fName}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center"> 
                                    <img alt="User Pic" 
                                         src="../img/logo2.PNG"
                                         class="img-circle img-responsive"> 
                                </div>

                                <div class=" col-md-9 col-lg-9 "> 
                                    <table class="table table-user-information">
                                        <tbody>
                                            <tr>
                                                <td style="font-weight: bold">Last Name</td>
                                                <td>
                                                    <input style="height: 40px" type="text" placeholder="Last Name" ng-model="lName">    
                                                </td> 
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold">First Name:</td>
                                                <td>
                                                    <input style="height: 40px" type="text" placeholder="First Name" ng-model="fName">   
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold">Username</td>
                                                <td>
                                                    <input style="height: 40px" type="text" placeholder="Username" ng-model="uName">
                                                </td>
                                            </tr>

                                            <tr>
                                            <tr>
                                                <td style="font-weight: bold">Password</td>
                                                <td>
                                                    <input style="height: 40px" type="password" placeholder="password" ng-model="userPass"><br>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="font-weight: bold">User Type</td>
                                                <td>
                                                    <select style="height: 48px" ng-model="uType">
                                                        <option value="" disabled selected style="display: none;">Select type Officer</option>
                                                        <option value="Officer">Officer</option>
                                                        <option value="Supervisor">Supervisor</option>
                                                        <option value="Administrator">Administrator</option>
                                                    </select>      
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold">Officer Shift</td>
                                                <td>
                                                    <select style="height: 48px" ng-model="uShift">
                                                        <option value="" disabled selected style="display: none;">Select officer Shift</option>
                                                        <option value="A">A</option>
                                                        <option value="B">B</option>
                                                        <option value="C">C</option>
                                                    </select>    
                                                </td>
                                            </tr>
                                        </tbody>
                                        <!--<p style="color:red"> {{message}}</p>-->
                                    </table>

                                    <a class="btn btn-primary" ng-click="save()">Save</a>
                                    <a href="#/editUser" class="btn btn-primary">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="height: 48px">
                            <span class="pull-right" data-toggle="modal" data-target="#myModal">
                                <a data-original-title="Remove this user" data-toggle="tooltip" class="btn btn-sm btn-danger">
                                    <i class="glyphicon glyphicon-remove"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Are you sure you want to delete this user?</h3>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a  type="button" class="btn btn-primary" data-dismiss="modal" ng-click="removeUser()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</html>
