<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload a new Task Doc</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/dnd.css">
<body>
<div ng-controller="UploadController">
    <form action="../php/upload.php" method="post" enctype="multipart/form-data">
        <h3>BOLO</h3>
        <input type="file" name="bolo" id="bolo">
        <input type="submit" value="Upload" name="submit">
    </form>
    <form action="../php/upload.php" method="post" enctype="multipart/form-data">
        <h3>Internal Memo</h3>
        <input type="file" name="internal" id="internal">
        <input type="submit" value="Upload" name="submit">
    </form>
    <form action="../php/upload.php" method="post" enctype="multipart/form-data">
        <h3>Message From the Chief</h3>
        <input type="file" name="mftc" id="mftc">
        <input type="submit" value="Upload" name="submit">
    </form>
    <form action="../php/upload.php" method="post" enctype="multipart/form-data">
        <h3>Shift Lineup</h3>
        <input type="file" name="lineup" id="lineup">
        <input type="submit" value="Upload" name="submit">
    </form>
    <form action="../php/upload.php" method="post" enctype="multipart/form-data">
        <h3><Miscellaneous></Miscellaneous></h3>
        <input type="file" name="misc" id="misc">
        <input type="submit" value="Upload" name="submit">
    </form>
    <form action="../php/upload.php" method="post" enctype="multipart/form-data">
        <h3>Training</h3>
        <input type="file" name="training" id="training">
        <input type="submit" value="Upload" name="submit">
    </form>
</div>
</body>
</html>