<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload a new Task Doc</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/dnd.css">
<body>
<div class="col-centered">
    <form action="../php/upload.php" method="post" enctype="multipart/form-data" class="col-md-3">
        <h3>BOLO</h3>
        <input type="file" name="task" id="bolo">
        <input type="text" value="bolo" class="category" name="category">
        <select name="userShift" class="userSelect">
            <option value="" disabled selected style="display: none;">Select officer Shift</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">All</option>
        </select>
        <input type="submit" value="Upload" name="submit">
    </form>
    <form action="../php/upload.php" method="post" enctype="multipart/form-data" class="col-md-3">
        <h3>Internal Memo</h3>
        <input type="file" name="task" id="internal">
        <input type="text" value="internalMemo" class="category" name="category">
        <select name="userShift" class="userSelect">
            <option value="" disabled selected style="display: none;">Select officer Shift</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">All</option>
        </select>
        <input type="submit" value="Upload" name="submit">
    </form>
    <form action="../php/upload.php" method="post" enctype="multipart/form-data" class="col-md-3">
        <h3 style="font:80">Message From the Chief</h3>
        <input type="file" name="task" id="mftc">
        <input type="text" value="messageFromTheChief" class="category" name="category">
        <select name="userShift" class="userSelect">
            <option value="" disabled selected style="display: none;">Select officer Shift</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">All</option>
        </select>
        <input type="submit" value="Upload" name="submit">
    </form>
    <br>

    <form action="../php/upload.php" method="post" enctype="multipart/form-data" class="col-md-3">
        <h3>Shift Lineup</h3>
        <input type="file" name="task" id="lineup">
        <input type="text" value="lineup" class="category" name="category">
        <select name="userShift" class="userSelect">
            <option value="" disabled selected style="display: none;">Select officer Shift</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">All</option>
        </select>
        <input type="submit" value="Upload" name="submit">
    </form>
    <form action="../php/upload.php" method="post" enctype="multipart/form-data" class="col-md-3">
        <h3>Miscellaneous</h3>
        <input type="file" name="task" id="misc">
        <input type="text" name="category" value="miscellaneous" class="category">
        <select name="userShift" class="userSelect">
            <option value="" disabled selected style="display: none;">Select officer Shift</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">All</option>
        </select>
        <input type="submit" value="Upload" name="submit">
    </form>
    <form action="../php/upload.php" method="post" enctype="multipart/form-data" class="col-md-3">
        <h3>Training</h3>
        <input type="file" name="task" id="training">
        <input type="text" value="training" class="category" name="category">
        <select name="userShift" class="userSelect">
            <option value="" disabled selected style="display: none;">Select officer Shift</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">All</option>
        </select>
        <input type="submit" value="Upload" name="submit">
    </form>
</div>
</body>
</html>