<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Upload a new Task Doc</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
    <form method="POST" enctype="multipart/form-data" action="../php/upload.php">
        <input type="file" name="task"><br>
        <div>
            <select name="userShift" class="userSelect">
                <option value="" disabled selected style="display: none;">Select officer Shift</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
        </div>
        <div>
            <select name="category" class="userSelect">
                <option value="" disabled selected style="display: none;">Select Task Category</option>
                <option value="bolo">BOLO</option>
                <option value="internalMemo">Internal Memo</option>
                <option value="messageFromTheChief">Message From the Chief</option>
                <option value="training">training</option>
                <option value="shiftLineUp">Shift Lineup</option>
                <option value="misc">Miscellaneous</option>
            </select>
        </div>
        <input type="submit" name="submit" value="Upload Now">
    </form>
    </body>
</html>
