<html>
<head>
    <title>Pinned Tasks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>

    <h1>Pinned Tasks</h1>

    <!--populate the list of users.-->
    <div ng-init="getPinnedTasks()">
        <table class="table table-striped table-hover">
            <br>
            <thead>
            <tr>
                <th class="text-center">Document Name</th>
                <th class="text-center">Pinner Username</th>
                <th class="text-center">Pinned Timestamp</th>
                <th class="text-center">Document ID</th>
                <th class="text-center"></th>
            </tr>
            </thead>
            <!--retrieve all users in the base and populate the table.-->
            <tbody ng-repeat="u in pinnedTasks">
            <tr>
                <td class="col-sm-2 text-center">{{u.documentName}}</td>
                <td class="col-md-2 text-center">{{u.username}}</td>
                <td class="col-md-2 text-center">{{u.timestamp}}</td>
                <td class="col-md-2 text-center">{{u.documentId}}</td>
                <td class="col-sm-1 text-center">
                    <button class="btn btn-primary btn-xs" ng-click="removePin(u.documentId,u.documentName)">Remove</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    </body>
</html>
