
<!DOCTYPE html>

<html>
    <head>
        <title>Task Documents</title>
    </head>
    <body>
        <div class="container">
            <h1 class="customText">Documents</h1>

            <article class="1u" ng-repeat="doc in documents">

                <a class="btn btn-primary view-pdf" ng-click="viewDoc(doc.category, doc.docName)">
                    <!--href="../uploads/{{doc.category}}/{{doc.docName}}"-->            
                    View PDF
                </a>        

                <!--                <a href="#" id="trigger">this link</a>
                                <div id="dialog" style="display:none">
                                    <div>
                                        <iframe src="../uploads/{{doc.category}}/{{doc.docName}}"></iframe>
                                    </div>
                                    <h4 class="customText"> {{doc.docName}}</h4>
                                </div> -->

                <!--                <a href="../uploads/{{doc.category}}/{{doc.docName}}" class="image fit thumb">
                                    <img src="../img/pdf.png"/>
                                </a>
                                <h4 class="customText"> {{doc.docName}}</h4>-->
            </article>
        </div> <!-- Container -->
    </body>
</html>
