

<div ng-init="retrieveCategories()"> <!-- Begin retrieving categories-->
    <section>
        <h1 class="customText">Categories</h1>
        <div class="row">
            <article class="4u" ng-repeat="c in categories">
                <h5 class="customText">{{c.categoryName}}</h5>
                <a class="image fit thumb" href="#/documents/{{c.categoryName}}">
                    <img src="../img/taskBackground.jpg" alt="" />
                </a>
            </article>

            <!--Watch Orders-->
            <article class="4u">
                <h5 class="customText">Watch Orders</h5>
                <a class="image fit thumb" href="#/mapLocations">
                    <img src="../img/taskBackground.jpg" alt="" />
                </a>
            </article>
        </div>
    </section>
</div>