
body{
    margin: 0;
    padding: 0;
    background: gray;
    min-height: 100%;
    font-family: Arial;
    font-size: 12px;
}

.container{
    background:gray;
}

.navContainer{
    /*background:black;*/
    background: linear-gradient(#384047, black);
    /*overflow:hidden;*/
    width: 615px;
    margin: auto; //center the navbar
    /*background-color:transparent;*/
color:purple;
}


/* #####################  SUBMENU #########*/
.marginBottom-0 { // display submenu to the right of the parent menu.
margin-bottom:0;
}

.dropdown-menu{
    background-color:transparent;
    width: 5px;
}

.dropdown-submenu>.dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

/* ######################## end of submenu ##################*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
}

form {
    max-width: 300px;
    margin: 10px;
    padding: 10px 20px 20px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"],
input[type="password"],

select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 20px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

@media screen and (min-width: 480px) {

    form {
        max-width: 480px;

    }
}

.userSelect{
    max-width:96%;
}
/*###################################################################*/

table {
    height:15px;
    overflow-y: scroll;
}

tbody td, thead th {
    font-size: 18px
}
#fileBox{
    position: relative;
    overflow: hidden;
}
.btn-upload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.center{
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.category {
    display: none;
}
